body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.container {
    width: 300px;
    margin: 150px 550px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #347ce0;
    color: #fff;
    cursor: pointer;
}

button#clear-btn {
    background-color: #287bee;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #f8f9fa;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}